<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark d-flex flex-column" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="#">
                    <i class="bi bi-house-door-fill"></i>&nbsp;
                    Inicio
                </a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTickets"
                    aria-expanded="false" aria-controls="collapseTickets">
                   <i class="bi bi-journal-check"></i>&nbsp;
                    Tickets
                    <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                </a>
                <div class="collapse" id="collapseTickets" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" (click)="abrirModalRegistrarTickets()">Registar Tickets</a>
                    </nav>
                </div>

                <div class="collapse" id="collapseTickets" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="consulta-tickets">Consulta Tickets</a>
                    </nav>
                </div>

                <div class="sb-sidenav-menu-heading">Catalogos</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAreas"
                    aria-expanded="false" aria-controls="collapseAreas">
                    <i class="bi bi-person-workspace"></i>&nbsp;
                    Areas
                    <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                </a>
                <div class="collapse" id="collapseAreas" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" (click)="abrirModalRegistrarArea()">Registar Area</a>
                        <a class="nav-link" routerLink="consulta-areas">Consultar Areas</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePlantas"
                    aria-expanded="false" aria-controls="collapsePlantas">
                    <i class="bi bi-building"></i>&nbsp;
                    Plantas
                    <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                </a>
                <div class="collapse" id="collapsePlantas" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" (click)="abrirModalRegistrarPlanta()">Registar Planta</a>
                        <a class="nav-link" routerLink="consulta-plantas">Consultar Plantas</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTurnos"
                    aria-expanded="false" aria-controls="collapseTurnos">
                    <i class="bi bi-stopwatch-fill"></i>&nbsp;
                    Turnos
                    <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                </a>
                <div class="collapse" id="collapseTurnos" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" (click)="abrirModalRegistrarTurno()">Registar Turno</a>
                        <a class="nav-link" routerLink="consulta-turnos">Consultar Turnos</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTipoServicio"
                    aria-expanded="false" aria-controls="collapseTipoServicio">
                    <i class="bi bi-tools"></i>&nbsp;
                    Tipo de Servicio
                    <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                </a>
                <div class="collapse" id="collapseTipoServicio" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" (click)="abrirModalRegistrarTipoServicio()">Registar Tipo de Servicio</a>
                        <a class="nav-link" routerLink="consultar-tipo-servicio">Consultar Tipos de Servicio</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsuarios"
                    aria-expanded="false" aria-controls="collapseUsuarios">
                    <i class="bi bi-people-fill"></i>&nbsp;
                    Usuarios
                    <div class="sb-sidenav-collapse-arrow"><i class="bi bi-caret-down"></i></div>
                </a>

                <div class="collapse" id="collapseUsuarios" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" (click)="abrirModalRegistrarUsuario()">Registar Usuario</a>
                        <a class="nav-link" routerLink="consulta-usuarios">Consultar Usuarios</a>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>