<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark d-flex flex-column" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsuarios"
                    aria-expanded="false" aria-controls="collapseUsuarios">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Usuarios
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseUsuarios" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link">Registar Usuario</a>
                        <a class="nav-link" routerLink="consulta-usuarios">Consultar Usuarios</a>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Catalogos</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAreas"
                    aria-expanded="false" aria-controls="collapseAreas">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Areas
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseAreas" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link">Registar Area</a>
                        <a class="nav-link" routerLink="consulta-areas">Consultar Areas</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePlantas"
                    aria-expanded="false" aria-controls="collapsePlantas">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Plantas
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePlantas" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link">Registar Planta</a>
                        <a class="nav-link" routerLink="consulta-plantas">Consultar Plantas</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTurnos"
                    aria-expanded="false" aria-controls="collapseTurnos">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Turnos
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseTurnos" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link">Registar Turno</a>
                        <a class="nav-link" routerLink="consulta-turnos">Consultar Turnos</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTipoServicio"
                    aria-expanded="false" aria-controls="collapseTipoServicio">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Tipo de Servicio
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseTipoServicio" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link">Registar Tipo de Servicio</a>
                        <a class="nav-link" routerLink="consultar-tipo-servicio">Consultar Tipos de Servicio</a>
                    </nav>
                </div>

            </div>
        </div>
    </nav>
</div>