<div class="modal-body dashboard">
    <div class="pagetitle">
        <h4 class="t-bold">
             {{pkPlanta == null ? 'Registrar' : 'Actualizar'}} planta
        </h4>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Plantas</li>
                <li class="breadcrumb-item active">{{pkPlanta == null ? 'Registrar' : 'Actualizar'}} planta</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formPlanta" class="row g-3" autocomplete="off">
                        <div class="col-lg-4">
                            <label for="planta" class="form-label">Planta:</label>
                            <input id="planta" type="text" class="form-control form-control-sm" placeholder="Planta"
                                formControlName="planta">
                        </div>
                        <div class="col-lg-2">
                            <label for="abrev" class="form-label">Abrev:</label>
                            <input id="abrev" type="text" class="form-control form-control-sm" placeholder="Abrev"
                                formControlName="abrev">
                        </div>
                        <div class="col-lg-6">
                            <label for="direccion" class="form-label">Dirección:</label>
                            <textarea pTextarea id="direccion" class="form-control form-control-sm"
                                placeholder="Direccion" rows="3" formControlName="direccion">
                            </textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="pkPlanta == null" class="btn btn-sm btn-primary" (click)="registrarPlanta()">
        Registrar
    </button>
        <button *ngIf="pkPlanta != null" class="btn btn-sm btn-warning" (click)="registrarPlanta()">
        Actualizar
    </button>
    <button class="btn btn-sm btn-danger" (click)="cerrarModal()">
        {{cambiosForm || pkPlanta != null ? 'Cancelar' : 'Cerrar'}}
    </button>
</div>