<div class="pagetitle">
    <h1>Tickets</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Tickets</li>
            <li class="breadcrumb-item active">Consulta Tickets</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body row g-3 col-4">
                    <label for="area" class="form-label">Area:</label>
                    <select id="area" class="form-select form-select-sm" [(ngModel)]="id_area"
                        (change)="busquedaFiltros()">
                        <option *ngFor="let area of listaAreas" [value]="area.id_area">
                            {{ area.area }}
                        </option>
                        <option style="display: none; visibility: hidden;" value="">Selecciona una opción
                        </option>
                    </select>

                    <label for="status" class="form-label">Status:</label>
                    <select id="status" class="form-select form-select-sm" [(ngModel)]="id_status"
                        (change)="busquedaFiltros()">
                        <option value="" style="display: none; visibility: hidden;">Selecciona una opción</option>
                        <option *ngFor="let status of listaStatus" [value]="status.id_status_ticket">
                            {{ status.status }}
                        </option>
                    </select>

                    <div class="botonera">
                        <button class="btn btn-success btn-sm">
                            Exportar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="margin-top: 20px !important;">
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Area</th>
                        <th>Planta</th>
                        <th>Tipo Servicio</th>
                        <th>Descripción</th>
                        <th>Status</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of datosTabla">
                        <td>{{ ticket.folio }}</td>
                        <td>{{ticket.area}}</td>
                        <td>{{ticket.planta}}</td>
                        <td>{{ticket.tipo_servicio}}</td>
                        <td>{{ticket.descripcion_problema}}</td>
                        <td>{{ticket.status}}</td>
                        <td class="text-medium">
                            <button class="btn btn-sm btn-outline-primary"
                                (click)="abrirModalRegistrarTickets(ticket.id_ticket)">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>