/* FONDO DERECHO */
.login-right {
    background-color: #f4f4f4;
}

/* CONTENEDOR LOGIN */
.login-box {
    width: 100%;
    max-width: 420px;
}

/* IZQUIERDA (IMAGEN CONTROLADA) */
.login-left {
    display: flex;
    align-items: center;
    justify-content: center;

    background: url('../../../assets/images/login-imagen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
}

.logo-img {
    max-width: 260px;
    width: 100%;
}

/* CENTRAR TODO EL BLOQUE */
.login-left {
    justify-content: center !important; 
}

.login-content {
    text-align: center;
}

.titulo-login {
    color: #1c4d69; 
    font-weight: 600;
}

.login-left img {
    width: 85%;
    height: auto;
    object-fit: contain;
}

.login-content {
    max-width: 400px;
    z-index: 2;
}

.login-content h2 {
    font-size: 2.2rem;
}

.login-content p {
    font-size: 1rem;
    opacity: 0.9;
    line-height: 1.6;
}

/* CARD */
.card {
    border-radius: 12px !important;
    animation: fadeInUp 0.8s ease-in-out;
}

/* GLOW */
.card-glow {
    background-color: #193c57; 
    border-radius: 12px;
    box-shadow: 
        0 0 0 2px rgba(0, 170, 255, 0.2), 
        0 10px 25px rgba(0, 170, 255, 0.25),
        0 4px 10px rgba(0, 0, 0, 0.1);       
}

/* LOGO */
.logo-glow {
    filter: drop-shadow(0 0 15px rgba(0, 123, 255, 0.4));
    transition: 0.3s;
}

.logo-glow:hover {
    filter: drop-shadow(0 0 20px rgba(0, 123, 255, 0.6));
}

/* INPUT */
.form-control:focus {
    border-color: #0d6efd !important;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.1) !important;
}

/* BOTON */
.btn-warning {
    background-color: #f4c542;
    border: none;
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #e0b233;
}

/* ANIMACION */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .login-left {
        display: none;
    }
}