.dropdown {
    width: 100% !important;
}

.dropdown-menu {
    padding-left: 10px !important;
    padding-right: 10px !important;
    min-width: 300px !important;
    z-index: 1001;
}

.dropdown-search {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.dropdown-list {
    max-height: 110px !important;
    overflow-y: auto !important;
    margin-top: 20px !important;
    margin-left: -30px !important;
}

.btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
}