<div class="modal-body dashboard">
  <div class="pagetitle">
    <h4 class="t-bold">
      {{ pkTicket ? 'Evidencias del Ticket' : 'Tickets' }}
    </h4>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"
            (click)="pkTicket = null"
            style="cursor: pointer;">
          Tickets
        </li>

        <li class="breadcrumb-item active" *ngIf="!pkTicket">
          Tickets
        </li>

        <li class="breadcrumb-item active"
            *ngIf="pkTicket">
          Evidencias
        </li>

        <li class="breadcrumb-item"*ngIf="!pkTicket" (click)="pkTicket = 1"style="cursor: pointer;">
          Evidencias </li>
      </ol>
    </nav>
  </div>

  <div *ngIf="!pkTicket">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">

            <form [formGroup]="formTicket" class="row g-3" autocomplete="off">

              <div class="col-lg-6">
                <label class="form-label">Area:</label>
                <select class="form-select form-select-sm" formControlName="id_area">
                  <option *ngFor="let area of listaAreas" [value]="area.id_area">
                    {{ area.area }}
                  </option>
                </select>
              </div>

              <div class="col-lg-6">
                <label class="form-label">Planta:</label>
                <select class="form-select form-select-sm" formControlName="id_planta">
                  <option *ngFor="let planta of listaPlantas" [value]="planta.id_planta">
                    {{ planta.planta }}
                  </option>
                </select>
              </div>

              <div class="col-lg-6">
                <label class="form-label">Turno:</label>
                <select class="form-select form-select-sm" formControlName="id_turno">
                  <option *ngFor="let turno of listaTurnos" [value]="turno.id_turno">
                    {{ turno.turno }}
                  </option>
                </select>
              </div>

              <div class="col-lg-6">
                <label class="form-label">Tipo Servicio:</label>
                <select class="form-select form-select-sm" formControlName="id_tipo_servicio">
                  <option *ngFor="let tipo of listatiposServicio" [value]="tipo.id_tipo_servicio">
                    {{ tipo.tipo_servicio }}
                  </option>
                </select>
              </div>

              <div class="col-lg-12">
                <label class="form-label">Descripción:</label>
                <textarea class="form-control form-control-sm"
                          rows="3"
                          formControlName="descripcion_problema">
                </textarea>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="pkTicket">

    <form class="row g-3" autocomplete="off">

      <div class="col-lg-6">
        <label class="btn btn-primary">
          Subir imagen
          <input type="file"
                 hidden
                 multiple
                 accept="image/*"
                 (change)="onFileSelected($event)">
        </label>

        <div class="d-flex flex-wrap gap-3 mt-3">

          <div *ngFor="let img of images; let i = index"
               class="position-relative">

            <img [src]="img"
                 class="img-thumbnail"
                 width="150">

            <button type="button"
                    class="btn btn-danger btn-sm position-absolute top-0 end-0"
                    (click)="removeImage(i)">
              ✖
            </button>

          </div>

        </div>
      </div>

    </form>

  </div>

</div>

<div class="modal-footer">

  <button *ngIf="!pkTicket"
          class="btn btn-sm btn-primary"
          (click)="registrarTicket()">
    Registrar
  </button>

  <button class="btn btn-sm btn-danger"
          (click)="cerrarModal()">
    {{ cambiosForm || pkTicket ? 'Cancelar' : 'Cerrar' }}
  </button>

</div>